Package: com.raulsaeed.tftiktok
Name: TF-TikTok
Version: 1.5
Architecture: iphoneos-arm
Description: An awesome tweak for TikTok!
Maintainer: raul saeed
Author: raul saeed
Section: Tweaks
Depends: mobilesubstrate
